@import "variables"
@import "~bulma"

._1BN1N, .Kzi1t, ._2DJZN
  display: none

.container
  padding: 0 0.75rem

.navbar-brand .navbar-item
  padding-left: 0

.has-text-orange
  color: $orange

.has-text-orange-dark
  color: $orange-dark